.skeleton-line {
    width: 100%;
    height: 20px;
    background-color: gray;
}

#video-grid {
    display: grid;
    grid-auto-rows: clamp(120px, 12vw, 163px);
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    row-gap: clamp(20px, 4vh, 50px);
    column-gap: clamp(20px, 8vw, 115px);
    padding-left: clamp(16px, 6vw, 72px);
    padding-right: clamp(16px, 5vw, 55px);
    padding-top: clamp(40px, 5vh, 65px);
    padding-bottom: clamp(40px, 15vh, 126px);
}
