@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body{
    font-family: 'Inter', sans-serif;
}

#video-grid {
    display: grid;
    grid-auto-rows: clamp(120px, 12vw, 163px);
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    row-gap: clamp(20px, 4vh, 50px);
    column-gap: clamp(20px, 8vw, 115px);
    padding-left: clamp(16px, 6vw, 72px);
    padding-right: clamp(16px, 5vw, 55px);
    padding-top: clamp(40px, 5vh, 65px);
    padding-bottom: clamp(40px, 15vh, 126px);
}
.video {
    display: flex;
    transition: transform .18s ease, box-shadow .18s ease;

    &:hover{
        cursor: pointer;
        transform: translate(1,1);
    }
}

.video:hover,
.video:focus-within {
  transform: translateY(-6px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.18);
}

.thumbnail {
  height: 100%;
  aspect-ratio: 16 / 9;
  background-color: #585b70;
  border: 0;
  border-radius: 16px;
  margin-right: 15px;
}

.video-text {
  width: 100%;
  font-weight: 600;
  margin-top: 10px;
}

.video-text h3 {
  margin: 0;
  font-size: 24px;
  color: #cdd6f4;
  font-weight: 500;
}
.creator {
  margin: 4px 0;
  color: #bac2de;
  font-size: 14px;
}
.meta {
  margin: 0;
  color: #bac2de;
  font-size: 13px;
}

.skeleton-line {
    width: 100%;
    height: 20px;
    background-color: gray;
}
